.starImage{
    top: 150px;
    right: -5%;
    position: absolute;
    z-index: -99;
}
.circousImage{
    left: -5%;
    top: 350px;
    position: absolute;
    z-index: -99;
}

.downCaseCards button{
    margin-top: 20px;
}

.bigMk{
    z-index : -99;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.price h4{
    font-size: 25px;
    color: black;
}

.arrow2{
    margin-left: 1150px;
    transform: rotate(180deg);
}
.cards2{
    width: 1115px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: end;
    column-gap: 70px;
}

.card{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2) inset,
    10px 10px 10px 2px rgba(34, 60, 80, 0.2);    background-color: #373235;
    width: 305px;
    height: 430px;
    border-radius: 35px;
    color: white;
}

.card h3{
    color: #fff;
    margin-top: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 15px;
}

.card h4{
    margin-top: 23px;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}


.description{
    margin-top: 20px;
}

.card p{
   margin-left: auto;
   margin-right: auto;
    font-family: "Comfortaa", sans-serif;
    width: 250px;
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
    font-weight: 350;
    font-style: normal;
}

.Active{
    width: 350px;
    height: 450px;
    box-shadow: #cdafc1 2px;
}

.Active h4{
    margin-top: 10px;
    font-size: 20px;
}

.Active p{
    width: 300px;
    font-size: 16px;
}

.buttons{
    text-align: right;
}

.downCard{
    text-align: right;
    position: relative;
    bottom: 10px;
    margin-right: 20px;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

.downCard img{
    width: 80px;
    height: 80px;
}

.Active .downCard{
    margin-left: 40px;
}

.price{
    margin-top: 20px;
    margin-left: 0px;
    text-align: right;
}

.price p{
    margin-top: 10px;
    color: #fff;
    font-size: 15px;

}

.priceNone{
    font-weight: normal;
    color: red;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    text-decoration: line-through;
}

.price button{
    white-space: 10px;
    margin-top: 10px;
    background-color: #191717;
    text-transform: uppercase;
    font-size: 7px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #fff;
}
